<!DOCTYPE html>
<html lang="ko"
      xmlns:th ="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사원 리스트</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" th:href="@{/css/member/view.css}">

</head>
  <body>
  <th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
    <div class="wrap">
      <div class="boardArea">

        <div class="viewArea">
          <table>
            <tbody>
              <tr>
                <th>이름</th>
                <td th:text="${info.name()}"></td>
              </tr>

              <tr class="detail">
                <th>주소</th>
                <td th:text="${info.address()}">이동영</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
      <div class="buttonArea">
        <div class="listBtn Btn"><a th:href="@{/member/list}">목록</a></div>
        <div class="updateBtn Btn"><a th:href="@{/member/update/{memberId}(memberId = ${info.memberId()})}" th:text="수정"></a></div>
        <div class="deleteBtn Btn"><a th:href="@{/member/delete/{memberId}(memberId = ${info.memberId()})}" th:text="삭제"></a></div>
      </div>
    </div>
  <th:block th:replace="/include/header.html :: footerFragment"></th:block>
  </body>
</html>
