<!DOCTYPE html>
<html lang="ko"
      xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사원 정보 수정</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/info/update.css}">
    <script th:src="@{/JS/info/update.js}"></script>

</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
<form action="/info/update" method="post" id="frm">
    <input type="hidden" name="infoId" th:value="${info.infoId()}">
    <div class="wrap">
        <div class="boardArea">
            <div class="viewArea">
                <table>
                    <tbody>
                    <tr>
                        <th>사원 이름</th>
                        <td colspan="3"><input type="text" name="memberName" th:value="${info.memberModel().name()}"></td>
                    </tr>
                    <tr>
                        <th>사원 주소</th>
                        <td colspan="3"><input type="text" name="memberAddress" th:value="${info.memberModel().address()}"></td>
                    </tr>
                    <tr>
                        <th>회사 선택</th>
                        <td colspan="3">
                            기존<input type="radio" name="companyResult" value="Y" checked>
                            신규<input type="radio" name="companyResult" value="N">
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 15%;">회사 리스트 등록</th>
                        <td style="width: 15%;">
                            <select name="companyId">
                                <option value="">--선택--</option>
                                <th:block th:each="list : ${companyList}">
                                    <option th:value="${list.companyId}" th:text="${list.name}" th:selected="${list.companyId} == ${info.memberModel().companyModel().companyId()}"></option>
                                </th:block>
                            </select>
                        </td>
                        <th style="width: 17%;">신규 회사 등록</th>
                        <td>
                            <span>회사이름</span>
                            <input type="text" name="companyName">
                            <span>회사주소</span>
                            <input type="text" name="companyAddress">
                        </td>
                    </tr>

                    <tr>
                        <th>직업</th>
                        <td colspan="3"><input type="text" name="career" th:value="${info.career()}"></td>
                    </tr>
                    <tr>
                        <th>연봉</th>
                        <td colspan="3"><input type="text" name="salary" th:value="${info.salary()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttonArea">
            <div class="listBtn Btn"><a th:href="@{/info/list}">목록</a></div>
            <div class="updateBtn Btn">작성</div>
        </div>
    </div>
</form>
<th:block th:replace="/include/header.html :: footerFragment"></th:block>
</body>
</html>
